<table border= 1px solid black>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Status</th>
  </tr>
  <% for( var i = 0; i < allTodos.length; i++) { %>
  <tr>
    <td><%= allTodos[i].id %></td>
    <td><%= allTodos[i].title %></td>
    <td><%= allTodos[i].completed == true ? "Completed" : "Due"%></td>
  </tr>
  <% } %>
</table>
